body {
    background-color: #000000;
}

.card {
    border-radius: 0.5rem;
}

.card-title {
    color: #343a40;
}

.btn {
    width: 100%;
}

body {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco por defecto */
}
